	<main>
	<h2>Admin Page</h2>
	
	<section id = 'selectorSection'>
		<h3>Choose Gallery</h3>
		<% for (var i =0; i<galleries.length; i++) {%>
			<button id = 'selectButton<%=i%>' onclick='handleGallerySelectClick(<%=i%>)' ><%=galleries[i].displayTitle%></button>
		<% } %>
		<button id = 'selectButtonNew' onclick='handleGallerySelectClick("New")'>[Add new gallery]</button>
	</section>
	
	
	<% for (var i =0; i<galleries.length; i++) {%>
		
		<section id = 'edit<%=i%>' class = 'editSection' style = "display:none;">
			<h3 class = 'sectionHeading'>edit Gallery : <%=galleries[i].title%></h3>
			
			<div>
				<form id = 'propertyForm<%=i%>'>
					
					<div>
						<span>Display title:</span>
						<input type="text" name="displayTitle" value = "<%=galleries[i].displayTitle%>"></input>
					</div>
					
					<div>
					<span>Description:</span>
					<textarea name="description" rows="3"><%=galleries[i].description%></textarea>
					</div>
					
					<div>
					<span>foreground:</span>
					<input type="color" name="foregroundPicker" value = "#000000" onchange = 'handleColorPick(this, "foreground")' >
					<input type="text" name="foreground" value = "<%=galleries[i].foreground%>"></input><br/>
					</div>
					
					<div>
					<span>background:</span>
					<input type="color" name="backgroundPicker" value = '#ffffff' onchange = 'handleColorPick(this, "background")' >
					<input type="text" name="background" value = "<%=galleries[i].background%>"></input>
					</div>
					
					<input type="reset">
				</form>
			</div>
			
			<div class = 'thumbNailArea'>
				<!-- picture thumbnails generated dynamically in adminScript.  -->
			</div>
			
			<div>
				<button class = 'updateButton' onclick ='sendGalleryUpdateToServer(<%=i%>,this)'>
					Save changes to <%=galleries[i].displayTitle%>
				</button>
			
			
			</div>
			
		</section>
		
	<% } %>
	
	
	
	<section id = 'editNew' class = 'editSection' style = "display:none;">
		<h3>make new gallery</h3>
				
			<div>
				<form id = 'propertyFormNew'>
					<div>
					<span>folder name:</span> 
					<input type="text" name="title" value = ""></input>
					</div>
					
					<div>
					<span>Display title:</span>
					<input type="text" name="displayTitle" value = ""></input>
					</div>
					
					<div>
					<span>Description:</span>
					<textarea name="description" rows="3"></textarea>
					</div>
					
					<div>
					<span>foreground:</span>
					<input type="color" name="foregroundPicker" value = "#000000" onchange = 'handleColorPick(this, "foreground")' >
					<input type="text" name="foreground" value = "black"></input>
					</div>
					
					<div>
					<span>background:</span>
					<input type="color" name="backgroundPicker" value = '#ffffff' onchange = 'handleColorPick(this, "background")' >
					<input type="text" name="background" value = "white"></input>
					</div>
					
					<input type="reset">
				</form>
			</div>
			
			<div class = 'thumbNailArea'>
				<!-- picture thumbnails generated dynamically in adminScript.  -->
			</div>
			
			<div>
				<button class = 'updateButton' onclick ='sendGalleryUpdateToServer("New",this)'>
					Create new gallery
				</button>
			</div>
		
	</section>

	
	</main>

	<div style = "display:none" id = "dataHolder"
	originalData = "<%=JSON.stringify(galleries)%>";
	>
	</div>

	