<main>
	<h2>News Room</h2>
	
	<div class = 'primeControl'>
		<p>Use this page to control the news posts that appear on your site.</p>
		<div>
			<button onclick = "resetControls()">RESET</button>
			<span>undo all changes made since this page was opened</span>
		</div>
		<div>
			<button onclick = "publishChangesToServer()">PUBLISH</button>
			<span>Publish all post data to the site</span>
		</div>
		<div>
			<button onclick = "addNewPostControl()" >NEW POST</button>
			<span>New posts don't appear on site by default</span>
		</div>
		<p>No updates will be saved unless you publish them. You can save an unfinished post by marking it to not appear on the site, then publishing your changes. </p>
		
	</div>
	
	<div id = "controlHolder">
	</div>
		
</main>


<div class = 'modal' id = 'avatarForm'>
	<div class = "iconMenu">
		<p>choose an avatar for your post</p>
	
		<div id = "avatarChoices">
		<% for (var av=0; av<siteSettings.avatarPics.length; av ++ ){ %>	
			<img src="<%=siteSettings.avatarPics[av]%>" onclick = "handleIconSelect(this)"/>
		<% } %>
		</div>
		
		<span>upload new:</span>
		<input type='file' id="newAvatarInput" onchange = "handleChangedAvatarInput()"></input>
		<button onclick = "handleUploadAvatar()" >upload</button>
		<p id = "avatarUploadErrorMessage"> </p>
	</div>
</div>

<div class = 'modal' id = 'chooseImageForm'>
	<div class = imageMenu>
		<p>choose image</p>
		
		<% for (var g=0; g<galleries.length; g++ ){ %>	
		
		<div class = 'imageChoices'>
			<% for (var i=0; i<galleries[g].picture.length; i++ ){ %>	
				<img 
				src =  "<%=galleries[g].path%><%=galleries[g].picture[i] %>" 
				onclick = "handleImageSelect(this)"
				>
				</img>
				
			<% } %>
		</div>
		<% } %>
		
		
	</div>
</div>
	
<div class = 'modal' id = 'waitMessage'>
	<p>Saving to server...</p>
</div>

<div style = "display:none" id = "dataHolder" originalData = "<%=JSON.stringify(posts)%>"; avatarPicMaxSize = <%=siteSettings.avatarPicMaxSize %> >
</div>

<div style = "display:none" id = 'templateStore'>

	<section class = 'templatePostControl'>
		<div class="subsection main">
			<button onclick="handleClassToggleClick(this,'collapsed')">&#8661 </button>
			<button onclick="handleMoveControl(this,'up')">&#8593 </button>
			<button onclick="handleMoveControl(this,'down')">&#8595 </button>
			<button onclick="handleDeletePost(this)">DELETE POST</button>
			<div>
				<span>Title:</span>
				<input type="text"></input>
			</div>
		</div>
		
		
		<div class="subsection detail collapsing">
			<img class="iconPart" onclick="handleIconClick(this)" />
			<div class = "detailGroup">
				<div class="activePart" onclick="handleClassToggleClick(this,'active')">appear on site:</div>
				<div class="homepagePart" onclick="handleClassToggleClick(this,'notForHomePage')">can show on homepage:</div>
				<div class="datePart"><span>Post Date:</span><input type="date" /></div>
				<div><span>author:</span><input></input></div>
			</div>
		</div>
		
		<div class="subsection content collapsing">
		</div>
				
	</section>

	<div class = "templateInsertPanel">
		<button onclick="handleNewBodyClick(this,'p')">add paragraph</button>
		<button onclick="handleNewBodyClick(this,'a')">add link</button>
		<button onclick="handleNewBodyClick(this,'img')">add image from gallery</button>
		<button onclick="handleNewBodyClick(this,'img2')">add image from url</button>
	</div>

	<div class = "templateBodyItem">
		<button onclick="handleDeleteBodyClick(this)">X</button>
	</div>
	
	<div class = "templateBodyContent-p">
		<div>
			<span>text:</span>
			<textarea placeholder = "type paragraph here"></textArea>
		</div>
	</div>

	<div class = "templateBodyContent-img">
		<div>
			<span>picture:</span>
			<img src = ''></img>
			<select name="gallery">
				<% for (var g=0; g<galleries.length; g++ ){ %>	
				<option value="<%=g%>"> <%=galleries[g].displayTitle%> </option>
				<% } %>
			</select>
			<button onclick="showImageMenu(this)">choose image</button>		
		</div>
	</div>

	<div class = "templateBodyContent-img2">
		<div>
			<span>picture:</span>
			<img src = ''></img>
			<textArea placeholder = "paste URL"></textArea>
			<button onclick="showImageFromURL(this)">load image</button>
		</div>
	</div>

	
	<div class = "templateBodyContent-a">
		<div>
			<span>URL:</span>
			<textarea placeholder = "copy url here" class = 'urlInput'></textArea>
		</div>
		<div>
			<span>text:</span>
			<textarea placeholder = "write text to display as link here(full url will show if left blank)"></textarea>
		</div>
		<div>
			<span>after text:</span>
			<textarea placeholder = "write text to show after link(inline links only)"></textarea>
			<span>diplay inline</span>
			<input type="checkbox">
		</div>
	</div>
	
</div>

