<!doctype html>
<html lang="en-UK">
<head>
	<title><%=siteSettings.siteName%></title>
	<% include parts/metatags %>
 
	<link rel="stylesheet" href="/css/style-main.css" />
	<link rel="stylesheet" href="/css/style-admin.css" />
	
	
</head>

<body>
	<% include parts/header %>
		
	<main>
	<h2>Admin Page</h2>
	
	<section id = 'selectorSection'>
		<h3>Choose Gallery</h3>
		<% for (var i =0; i<galleries.length; i++) {%>
			<button id = 'selectButton<%=i%>' onclick='handleGallerySelectClick(<%=i%>)' ><%=galleries[i].displayTitle%></button>
		<% } %>
		<button id = 'selectButtonNew' onclick='handleGallerySelectClick("New")'>[Add new gallery]</button>
	</section>
	
	
	<% for (var i =0; i<galleries.length; i++) {%>
		
		<section id = 'edit<%=i%>' class = 'editSection' style = "display:none;">
			<h3 class = 'sectionHeading'>edit Gallery : <%=galleries[i].displayTitle%></h3>
			
			<div>
				<form id = 'propertyForm<%=i%>'>
					<span>Title:</span> <br/>
					<input type:"text" name="displayTitle" value = "<%=galleries[i].displayTitle%>"></input><br/>
					
					<span>Description:</span><br/> 
					<textarea name="description" rows="3"><%=galleries[i].description%></textarea><br/>
					
					<span>foreground color:</span>
					<input type="color" name="foregroundPicker" value = "#000000" onchange = 'handleColorPick(this, "foreground")' ><br/>
					<input type:"text" name="foreground" value = "<%=galleries[i].foreground%>"></input><br/>
					
					<span>background color:</span>
					<input type="color" name="backgroundPicker" value = '#ffffff' onchange = 'handleColorPick(this, "background")' ><br/>
					<input type:"text" name="background" value = "<%=galleries[i].background%>"></input><br/>
					
					<input type="reset">
				</form>
			</div>
			
			<div class = 'thumbNailArea'>
				<!-- picture thumbnails generated dynamically in adminScript.  -->
			</div>
			
			<div>
				<button class = 'updateButton' onclick ='sendGalleryUpdateToServer(<%=i%>,this)'>
					Save changes to <%=galleries[i].displayTitle%>
				</button>
			</div>
			
		</section>
		
	<% } %>
	
	
	
	<section id = 'editNew' class = 'editSection' style = "display:none;">
		<h3>make new gallery</h3>
		<input type="file" id="chooseNewFileNew">
	</section>

	
	</main>

	<div style = "display:none" id = "dataHolder"
	originalData = "<%=JSON.stringify(galleries)%>";
	>
	</div>

	<% include parts/footer %>
	
	<script src = '/js/adminScript.js'></script>
	
	
</body>

</html>
	