<!doctype html>
<html lang="en-UK">
<head>
	<title><%=siteSettings.siteName%></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
	<link rel="stylesheet" href="/css/style-main.css" />
	<link rel="stylesheet" href="/css/style-admin.css" />
	
	
</head>

<body>
	<% include parts/header %>
		
	<main>
	<h2>Admin Page</h2>
	
	<section id = 'selectorSection'>
		<h3>Choose Gallery</h3>
		<% for (var i =0; i<galleries.length; i++) {%>
			<button id = 'selectButton<%=i%>' onclick='handleSelect(<%=i%>)' ><%=galleries[i].displayTitle%></button>
		<% } %>
		<button id = 'selectButtonNew' onclick='handleSelect("New")'>[Add new gallery]</button>
	</section>
	
	
	<% for (var i =0; i<galleries.length; i++) {%>
		
		<section id = 'edit<%=i%>' class = 'editSection' style = "display:none;">
			<h3>edit Gallery : <%=galleries[i].displayTitle%></h3>
			
			<div>
				<form id = 'propertyForm<%=i%>'>
					<span>Title:</span> <br/>
					<input type:"text" name="displayTitle" value = "<%=galleries[i].displayTitle%>"></input><br/>
					
					<span>Description:</span><br/> 
					<textarea name="description" rows="3"><%=galleries[i].description%></textarea><br/>
					
					<span>foreground color:</span>
					<input type="color" name="foregroundPicker" value = "#000000" onchange = 'handleColorPick(this, "foreground")' ><br/>
					<input type:"text" name="foreground" value = "<%=galleries[i].foreground%>"></input><br/>
					
					<span>background color:</span>
					<input type="color" name="backgroundPicker" value = '#ffffff' onchange = 'handleColorPick(this, "background")' ><br/>
					<input type:"text" name="background" value = "<%=galleries[i].background%>"></input><br/>
					
					<input type="reset">
				</form>
			</div>
			
			<div class = 'thumbNailArea'>
				<% for (var j =0; j<galleries[i].picture.length; j++) {%>
					<span class = 'thumbNailHolder'>
						<span class='thumbNail current' onclick='handleThumbClick(this)'>
							<img src = "../<%=galleries[i].path%><%=galleries[i].picture[j] %>"></img>
						</span>	
						<p class = "mainImageToggle  <%=(galleries[i].main === j) ? "toggled" : "untoggled" %>" onclick = "handleMainToggleClick(this)">main</p>
					</span>
				<%}%>
			
				<span class = 'thumbNailHolder'>
					<span class = 'thumbNail uploadControl' onclick = 'handleUploadControlClick(this)' >
						add picture
						<input type="file" class = 'hiddenFileInput' onchange="handleFiles(this)" >
					</span>
					<p class = "mainImageToggle untoggled" onclick = "handleMainToggleClick(this)">main</p>
				</span>
			</div>
			
			<div>
				<button onclick ='sendGalleryUpdateToServer(<%=i%>,this)'>
					Save changes to <%=galleries[i].displayTitle%>
				</button>
			</div>
			
		</section>
		
	<% } %>
	
	
	
	<section id = 'editNew' class = 'editSection' style = "display:none;">
		<h3>make new gallery</h3>
		<input type="file" id="chooseNewFileNew">
	</section>

	
	</main>

	<div style = "display:block" id = "dataHolder"
	originalData = "<%=JSON.stringify(galleries)%>";
	>
	</div>

	<% include parts/footer %>
	
	<script src = '/js/adminScript.js'></script>
	
	
</body>

</html>
	