<header>
	<a href = '/'><h1><%=headerText%></h1></a>
	
	<nav class = 'onBar'>
		<ul>
			<% for(var i=0; i<navBar.length;i++){%>				
				<%if (navBar[i].title) { %>
				<li><a 
				href=<%=navBar[i].path%>
				<%if (title === navBar[i].title) {%> class = 'currentPageLink'<% } %>
				>
					<%=navBar[i].title%>	
				</a></li>
				<% } %>
			<%}%>
		</ul>
	</nav>
	
	<div class = 'menuButton' onclick = "toggleMenu()">
		&#9776;
	</div>
	
	
	<%if(username) {%>
		<div class = 'loggedInMessage'>logged in as: <%=username%><a href="/logout"> log out</a></div>
	<%}%>
	
</header>

<nav class = 'dropDown'>
	<ul>
		<% for(var i=0; i<navBar.length;i++){%>				
			<%if (navBar[i].title) { %>			
				<li><a 
				href=<%=navBar[i].path%>
				<%if (title === navBar[i].title) {%> class = 'currentPageLink'<% } %>
				>
					<%=navBar[i].title%>	
				</a></li>
			<% } %>
		<%}%>
	</ul>
</nav>