<div class = "newsPost">
	<div class= "postBanner">
		<img class = "postIcon" src = "<%=post.icon%>"></img>
		<h2><%=post.title%></h2>
		<span class = "postDate"><%=post.date%>, <%=post.author%></span>
	</div>
	<%for(var i = 0; i < post.body.length; i++) { %>
		<%if (post.body[i].type == "p") {%>
			<p><%=post.body[i].content%></p>
		<% } %>
		<%if (post.body[i].type == "img") {%>
			<img class = "postImage" src = "<%=post.body[i].content%>"></img>
		<% } %>
		<%if (post.body[i].type == "a") {%>
			<a href = "<%=post.body[i].content%>" ><%=(post.body[i].displayText || post.body[i].content)%></a><br/>
		<% } %>
	<% } %>
</div>