<div class = "newsPost">

	<div class= "postBanner">		
		<img class = "postIcon" src = "<%if(typeof(route) !== "undefined") {%>../<%}%><%=post.icon%>"></img>
		<div class = 'bannerText'>
			<h2><%=post.title%></h2>
			<div>
				<p> by:<%=post.author%></p>
				
				<%
				var year = post.date.substring(0,4); 
				var month = Number(post.date.substring(5,7));
				var day = Number(post.date.substring(8));

				if (day%10 === 1) {day += "st"}
				if (day%10 === 2) {day += "nd"}
				if (day%10 === 3) {day += "rd"}
				if (day%10 > 4) {day += "th"}
				
				var months = ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'];
				
				%>
				
				<p><%=day%> <%=months[month]%> <%=year%></p>
			</div>
		</div>
		
		
	</div>
	
	<div class = "postBody">
	
	<%for(var i = 0; i < post.body.length; i++) { %>
		
		<%if (post.body[i].type == "img" ) {%>
			<img class = "postImage" src = "<%if(typeof(route) !== "undefined") {%>../<%}%><%=post.body[i].content%>"></img>
		<% } %>
		
		
		<%if (post.body[i].type == "img2" ) {%>
			<img class = "postImage" src = "<%=post.body[i].content%>"></img>
		<% } %>
		
		
		<%if (post.body[i].type == "a") {%>
			<a href = "<%=post.body[i].content%>" ><%=(post.body[i].displayText || post.body[i].content)%></a>
		<% } %>
		
		<%if (post.body[i].type == "p") {%>
			<p><%=post.body[i].content%>
			
			
			<%if (i+1 < post.body.length) { %>
			
			<%if (post.body[i+1].type == "a" && post.body[i+1].inline) { %>
		
				<a href = "<%=post.body[i+1].content%>" ><%=(post.body[i+1].displayText || post.body[i+1].content)%></a>
				
				<%if (post.body[i+1].textAfterLink) { %>
				<%=post.body[i+1].textAfterLink%>
				<% } %>
			
				<%i++%>
			
			
			<% } %>
			<% } %>
			
			</p>
			
			
		<% } %>
	<% } %>
	</div>
</div>